<%= form_tag sessions_path, :class => "form-horizontal" do %>
<div class="control-group">
    <%= label_tag :email, nil, :class => "control-label" %>
    <div class="controls">
        <%= text_field_tag :email, params[:email] %>
    </div>
</div>
<div class="control-group">
    <%= label_tag :password, nil, :class => "control-label" %>
    <div class="controls">
        <%= password_field_tag :password %>
    </div>
    <div class="controls">
        <%= link_to t('user.password.forgot.link'), password_reset_path %>
    </div>
</div>
<div class="control-group">
    <div class="controls">
        <label class="checkbox">
            <%= check_box_tag :remember_me, 1, params[:remember_me] %> <%= t('remember.me') %>
        </label>
        <%= submit_tag t('user.login'), :class => "btn" %>
    </div>
</div>

<% end %>